<!-- my_flask_app/app/tmplates/checkout.html -->

{% extends "base.html" %}

{% block content %}
<div class="container">
   <h2>Checkout</h2>
    <table>
        <thead>
            <colgroup>
                <col style="width: 50%;">
                <col style="width: 20%;">
                <col style="width: 30%;">
            </colgroup>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
                <tr>
                    <td>{{ item['item']['name'] }}</td>
                    <td>{{ item['quantity'] }}</td>
                    <td>KES{{ item['item']['price'] * item['quantity'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Total Quantity: {{ total_quantity }}</p>
    <p>Total Cost: KES{{ total_cost }}</p>
    <form action="{{ url_for('routes.checkout') }}" method="post">
        <button type="submit" class="btn btn-success">Confirm Purchase</button>
    </form>
</div>
{% endblock %}
