<!-- my_flask_app/app/templates/edit_content.html -->

{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Edit Content</h1>
    
    <!-- Display flashed messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
        
        <div class="form-group">
            {{ form.title.label }}
            {{ form.title(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.body.label }}
            {{ form.body(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.image.label }}
            {{ form.image(class="form-control-file") }}
        </div>

        <!-- div class="form-group">
            {{ form.author.label }}
            {{ form.author(class="form-control") }}
        </div -->
        
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>

    <!-- Include TinyMCE initialization script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.1/tinymce.min.js" integrity="sha512-SJh7xW/9SLzllt0PqjnYlomfUPi7UYF40TXU5m6kVXLFr1hdKe+L8Tqqoi1y9vlsMQBdGC2lZI0d6w04Nn6piQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        tinymce.init({
            selector: '{{ tiny_mce_config.selector }}',
            plugins: '{{ tiny_mce_config.plugins }}',
            toolbar: '{{ tiny_mce_config.toolbar }}',
            toolbar_mode: '{{ tiny_mce_config.toolbar_mode }}',
            tinycomments_mode: '{{ tiny_mce_config.tinycomments_mode }}',
            tinycomments_author: '{{ tiny_mce_config.tinycomments_author }}',
        });
    </script>
</div>
{% endblock %}


